body{
	background-image: url(".\\resources\\Secret-Santa.jpg");
	background-repeat: no-repeat;
	background-size: 1920px 950px;
}

#text{
	position: absolute;
	height:100px;
	width: 800px;
	border: solid;
	font-family: "Georgia";
	font-weight: bold;
	font-size: 15px;
	top: 50px;
}

#generate{
	position: absolute;
	background-color: white;
	border-radius: 25px;
	height: 35px;
	width: 200px;
	font-family: "Georgia";
	font-weight: bold;
	font-size: 15px;
	top: 200px;
}

#generate:hover{
	background-color: green;
	cursor: pointer;
}
